<form class="{{cssClass}} flexcol limited" autocomplete="off">

  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}" />
    </h1>
  </header>

  <main class="sheet-body">

    {{!-- Biography Tab --}}
    <article class="tab biography flexrow active" data-group="primary" data-tab="biography">
      <div class="left-notes note-entries flexcol">
        <article>
          <h4 class="box-title">{{ localize "DND5E.Appearance" }}</h4>
          {{editor appearance target="system.details.appearance" button=true editable=editable engine="prosemirror" collaborate=false}}
        </article>
      </div>

      <div class="right-notes note-entries flexcol">
        <article class="biography-notes big-bio">
          <h4 class="box-title">{{ localize "DND5E.Background" }}/{{ localize "DND5E.Biography" }}</h4>
          {{editor biographyHTML target="system.details.biography.value" button=true editable=editable engine="prosemirror" collaborate=false}}
        </article>
      </div>

    </article>
  </main>
</form>