<form class="{{cssClass}} flexcol" autocomplete="off">

  {{> (ogl5e-sheet-path "templates/parts/sheet-header.hbs")}}

  <main class="sheet-body">

    <article class="tab core flexrow active" data-group="primary" data-tab="core">

      <div class="flexcol sheet-body-column">
        <div class="abilities-skills flexrow">
          {{!-- Ability Scores --}}
          <ul class="ability-scores ability-score-column">
            {{#each data.abilities as |ability id|}}
            <li class="ability" data-ability="{{id}}">
              <div class="ability-outline">
                {{> (ogl5e-sheet-path "assets/strength.hbs")}}
              </div>
              <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
              <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}"
                data-dtype="Number" placeholder="10" />
              <div class="ability-modifiers flexrow">
                <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              </div>
            </li>
            {{/each}}
          </ul>

          {{> (ogl5e-sheet-path "templates/parts/actor-skills.hbs")}}
        </div>

        {{> (ogl5e-sheet-path "templates/parts/actor-traits.hbs")}}
      </div>

      <div class="flexcol sheet-body-column">
        {{!-- Health, Armor, Initiative, Speed, Exhaustion --}}
        {{> (ogl5e-sheet-path "templates/parts/actor-health-armor.hbs")}}

        {{!-- Attacks & Spellcasting --}}
        <section class="actions flexcol">
          <ol class="inventory-list items-list condensed-inventory-list">
            <li class="items-header flexrow">
              <h3 class="item-name flexrow">{{localize "DND5E.ActionPl"}}</h3>
              <div class="item-detail">{{localize 'OGL5E.HitDC'}}</div>
              <div class="item-detail item-damage">{{localize "DND5E.Damage"}}</div>
            </li>

            {{!-- Actions --}}
            {{> (ogl5e-sheet-path "templates/parts/actor-actions-list.hbs")  items=actionsData.action label=(localize "DND5E.Action") }}

            {{!-- Bonus Actions --}}
            {{> (ogl5e-sheet-path "templates/parts/actor-actions-list.hbs")  items=actionsData.bonus label=(localize "DND5E.BonusAction") }}

            {{!-- Reactions --}}
            {{> (ogl5e-sheet-path "templates/parts/actor-actions-list.hbs")  items=actionsData.reaction label=(localize "DND5E.Reaction") }}

            {{!-- Special --}}
            {{> (ogl5e-sheet-path "templates/parts/actor-actions-list.hbs")  items=actionsData.special label=(localize "DND5E.Special") }}

          </ol>
        </section>

        {{!-- Inventory --}}
        <section class="inventory flexrow">
          {{> (ogl5e-sheet-path "templates/parts/actor-inventory.hbs") sections=inventory}}
        </section>

      </div>


      <div class="flexcol sheet-body-column">
        {{!-- Personality/Ideals/Bonds/Flaws --}}
        <article class="personality">
          <section>
            <h4 class="box-title">{{ localize "DND5E.PersonalityTraits" }}</h4>
            {{editor content=data.details.trait target="data.details.trait" button=true owner=owner editable=editable}}
          </section>
          <section>
            <h4 class="box-title">{{ localize "DND5E.Ideals" }}</h4>
            {{editor content=data.details.ideal target="data.details.ideal" button=true owner=owner editable=editable}}
          </section>
          <section>
            <h4 class="box-title">{{ localize "DND5E.Bonds" }}</h4>
            {{editor content=data.details.bond target="data.details.bond" button=true owner=owner editable=editable}}
          </section>
          <section>
            <h4 class="box-title">{{ localize "DND5E.Flaws" }}</h4>
            {{editor content=data.details.flaw target="data.details.flaw" button=true owner=owner editable=editable}}
          </section>
        </article>

        {{!-- Resources --}}
        <ul class="attributes">
          {{#each resources as |res|}}
          <li class="attribute resource">
            <h4 class="attribute-name box-title">
              <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                placeholder="{{res.placeholder}}" />
            </h4>
            <div class="attribute-value">

              <input name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}" data-dtype="Number"
                placeholder="0" />
              <span class="sep"> / </span>
              <input name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}" data-dtype="Number"
                placeholder="0" />

            </div>
            <div class="attribute-footer">
              <label class="recharge checkbox">
                {{ localize "DND5E.AbbreviationSR" }} <input name="data.resources.{{res.name}}.sr" type="checkbox"
                  {{checked res.sr}} />
              </label>

              <label class="recharge checkbox">
                {{ localize "DND5E.AbbreviationLR" }} <input name="data.resources.{{res.name}}.lr" type="checkbox"
                  {{checked res.lr}} />
              </label>
            </div>
          </li>
          {{/each}}
        </ul>


        {{!-- Features --}}
        <section class="features flexcol" data-group="primary" data-tab="features">
          {{> (ogl5e-sheet-path "templates/parts/actor-features.hbs") sections=features}}
        </section>
      </div>

    </article>

    {{!-- Spellbook Tab --}}
    <article class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
      {{> (ogl5e-sheet-path "templates/parts/actor-spellbook.hbs")}}
    </article>


    {{!-- Effects Tab --}}
    <article class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{>  "systems/dnd5e/templates/actors/parts/active-effects.html"}}
    </article>

    {{!-- Biography Tab --}}
    <article class="tab biography flexrow" data-group="primary" data-tab="biography">
      <div class="left-notes note-entries flexcol">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <article>
          <h4 class="box-title">{{ localize "DND5E.Appearance" }}</h4>
          {{editor content=data.details.appearance target="data.details.appearance" button=true owner=owner editable=editable}}
        </article>
      </div>

      <div class="right-notes note-entries flexcol">
        <article class="biography-notes big-bio">
          <h4 class="box-title">{{ localize "DND5E.Background" }}</h4>
          {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </article>
      </div>

    </article>
  </main>
</form>