<form class="{{cssClass}} flexcol" autocomplete="off">

  {{> (ogl5e-path "templates/parts/sheet-header.hbs")}}

  <main class="sheet-body">

    <article class="tab core flexcol active" data-group="primary" data-tab="core">

      <div class="flexcol sheet-body-column">
        <div class="flexrow">
          {{!-- Ability Scores --}}
          <ul class="ability-scores ability-score-column">
            {{#each data.abilities as |ability id|}}
            <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
              <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
              <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}"
                data-dtype="Number" placeholder="10" />
              <div class="ability-modifiers flexrow">
                <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}"
                  data-dtype="Number" />
                <a class="proficiency-toggle ability-proficiency"
                  title="{{ localize 'DND5E.Proficiency' }}">{{{ability.icon}}}</a>
                <span class="ability-save"
                  title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
              </div>
            </li>
            {{/each}}
          </ul>

          {{> (ogl5e-path "templates/parts/actor-skills.hbs")}}
        </div>

        {{> (ogl5e-path "templates/parts/actor-traits.hbs")}}
      </div>

      <div class="flexcol sheet-body-column">
        {{!-- Health, Armor, Initiative, Speed, Exhaustion --}}
        {{> (ogl5e-path "templates/parts/actor-health-armor.hbs")}}

        {{!-- Attacks & Spellcasting --}}
        <section class="actions flexcol">
          <ol class="inventory-list">

            {{!-- Actions --}}
            {{> (ogl5e-path "templates/parts/actor-actions-list.hbs")  items=actionsData.action label=(localize "DND5E.Action") }}

            {{!-- Bonus Actions --}}
            {{> (ogl5e-path "templates/parts/actor-actions-list.hbs")  items=actionsData.bonus label=(localize "DND5E.BonusAction") }}

            {{!-- Reactions --}}
            {{> (ogl5e-path "templates/parts/actor-actions-list.hbs")  items=actionsData.reaction label=(localize "DND5E.Reaction") }}

            {{!-- Special --}}
            {{> (ogl5e-path "templates/parts/actor-actions-list.hbs")  items=actionsData.special label=(localize "DND5E.Special") }}

          </ol>
        </section>

        {{!-- Inventory --}}
        <section class="inventory flexcol">
          {{> (ogl5e-path "templates/parts/actor-inventory.hbs") sections=inventory}}

        </section>

      </div>


      <div class="flexcol sheet-body-column">
        {{!-- Personality/Ideals/Bonds/Flaws --}}
        <article>
          <h4 class="section-titles biopage">{{ localize "ogl5e.Traits" }}</h4>
          {{editor content=data.details.trait target="data.details.trait" button=true owner=owner editable=editable}}
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "ogl5e.Ideals" }}</h4>
          {{editor content=data.details.ideal target="data.details.ideal" button=true owner=owner editable=editable}}
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "ogl5e.Bonds" }}</h4>
          {{editor content=data.details.bond target="data.details.bond" button=true owner=owner editable=editable}}
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "ogl5e.Flaws" }}</h4>
          {{editor content=data.details.flaw target="data.details.flaw" button=true owner=owner editable=editable}}
        </article>

        {{!-- Resources --}}
        <ul class="attributes">
          {{#each resources as |res|}}
          <li class="attribute resource">
            <h4 class="attribute-name box-title">
              <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                placeholder="{{res.placeholder}}" />
            </h4>
            <div class="attribute-value">

              <input name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}" data-dtype="Number"
                placeholder="0" />
              <span class="sep"> / </span>
              <input name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}" data-dtype="Number"
                placeholder="0" />

            </div>
            <div class="attribute-footer">
              <label class="recharge checkbox">
                {{ localize "DND5E.AbbreviationSR" }} <input name="data.resources.{{res.name}}.sr" type="checkbox"
                  {{checked res.sr}} />
              </label>

              <label class="recharge checkbox">
                {{ localize "DND5E.AbbreviationLR" }} <input name="data.resources.{{res.name}}.lr" type="checkbox"
                  {{checked res.lr}} />
              </label>
            </div>
          </li>
          {{/each}}
        </ul>


        {{!-- Features --}}
        <div class="features flexcol" data-group="primary" data-tab="features">
          {{> (ogl5e-path "templates/parts/actor-features.hbs") sections=features}}
        </div>
      </div>

    </article>

    {{!-- Spellbook Tab --}}
    <article class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
      {{> (ogl5e-path "templates/parts/actor-spellbook.hbs")}}
    </article>

    {{!-- Biography Tab --}}
    <article class="tab biography flexrow" data-group="primary" data-tab="biography">
      <div class="left-notes note-entries flexcol">
        <article>
          <h4 class="section-titles biopage">{{ localize "ogl5e.Appearance" }}</h4>
          {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
        </article>
      </div>

      <div class="right-notes note-entries flexcol">
        <article class="biography-notes big-bio">
          <h4 class="section-titles">{{ localize "ogl5e.Background" }}</h4>
          {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </article>
      </div>

    </article>
  </main>
</form>