<form class="{{cssClass}} flexcol limited" autocomplete="off">

  {{> (ogl5e-sheet-path "templates/parts/sheet-header.hbs")}}

  <main class="sheet-body">

    {{!-- Biography Tab --}}
    <article class="tab biography flexrow active" data-group="primary" data-tab="biography">
      <div class="left-notes note-entries flexcol">
        <article>
          <h4 class="box-title">{{ localize "OGL5E.Appearance" }}</h4>
          {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
        </article>
      </div>

      <div class="right-notes note-entries flexcol">
        <article class="biography-notes big-bio">
          <h4 class="box-title">{{ localize "OGL5E.Background" }}</h4>
          {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </article>
      </div>

    </article>
  </main>
</form>