<aside class="inventory-sidebar">

  <div class="currency">
    <div class="currency-inputs">
      {{#each data.currency as |v k|}}
      <div class="currency-input">
        <label class="denomination {{k}}">
          {{k}}
        </label>
        <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
      </div>
      {{/each}}
    </div>
  </div>

  <div class="encumberance">
    {{#with data.attributes.encumbrance}}
    <strong>{{localize "DND5E.CoverTotal"}} {{localize "DND5E.ItemContainerCapacityWeight"}}</strong>
    <h3>{{ value }} {{localize "DND5E.AbbreviationLbs"}}</h3>
    {{#if (gt value max)}}
    <span class="encumbered">
      {{localize "DND5E.Max"}}: {{ max }} {{localize "DND5E.AbbreviationLbs"}}
    </span>
    {{/if}}
    {{/with}}
  </div>
</aside>

<ol class="inventory-list items-list condensed-inventory-list">
  <li class="items-header flexrow">
    <div class="item-detail item-quantity" title="{{localize "DND5E.Quantity"}}">
      <i class="fas fa-hashtag"></i>
    </div>

    <h3 class="item-name flexrow">{{localize "DND5E.ItemName"}}</h3>

    <div class="item-detail item-weight" title="{{localize "DND5E.Weight"}}">
      <i class="fas fa-weight-hanging"></i>
    </div>

    {{#if ../owner}}
    <div class="item-controls">
      <a class="item-control item-create" title='{{localize "DND5E.ItemCreate"}}'
        {{#each section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
        <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
      </a>
    </div>
    {{/if}}
  </li>

  {{#each sections as |section sid|}}
  <li class="sub-header">

    <h4>{{localize section.label}}</h4>

    <hr />

    {{#if ../owner}}
    <div class="item-controls">
      <a class="item-control item-create" title='{{localize "DND5E.ItemCreate"}}'
        {{#each section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
        <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list">
    {{#each section.items as |item iid|}}
    <li class="item flexrow {{section.css}}"
      data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}">
      {{#if ../../settingsShowInventoryIcons}}
      <div class="item-image item-image-show rollable" style="background-image: url({{item.img}})"></div>
      {{/if}}
      <div class="item-detail item-quantity">
        <input type="text" name="{{item._id}}.data.quantity" value="{{item.data.quantity}}" data-dtype="Number" />
      </div>

      <div class="item-name flexrow rollable">
        {{#if section.editableName}}
        <input type="text" value="{{item.name}}">
        {{else}}

        <h4>
          {{item.name~}}
          {{~#if (or item.data.attuned (eq data.attunement 2))}} <i class="fas fa-sun attuned"
            title={{localize "DND5E.Attuned"}}></i>{{/if}}
        </h4>
        {{/if}}
      </div>

      <div class="item-detail item-weight">
        {{#if item.totalWeight}}
        <div class="item-detail">
          {{ item.totalWeight }}
        </div>
        {{/if}}
      </div>

      {{#if ../../owner}}
      <div class="item-controls">
        {{#unless @root.isVehicle}}
        <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i
            class="fas fa-shield-alt"></i></a>
        {{/unless}}
        {{#unless section.editableName}}
        <a class="item-control item-edit" title='{{localize "DND5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
        {{/unless}}
        <a class="item-control item-delete" title='{{localize "DND5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}

    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>