<aside class="inventory-sidebar flexcol">


  {{#unless isNPC}}
  <div class="currency">
    <div class="currency-inputs">
      {{#each data.currency as |v k|}}
      <label class="denomination {{k}}">
        {{k}}
        <div class="dynamic-input">
          <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
          <span class="hidden">{{ v }}</span>
        </div>
      </label>
      {{/each}}
    </div>
  </div>
  {{/unless}}

  {{#unless isNPC}}
  <div class="encumberance">
    {{#with data.attributes.encumbrance}}
    <strong>{{localize "DND5E.CoverTotal"}} {{localize "DND5E.ItemContainerCapacityWeight"}}</strong>
    <h3>{{ value }} {{localize "DND5E.AbbreviationLbs"}}</h3>
    {{#if (gt value max)}}
    <span class="encumbered">
      Max: {{ max }} {{localize "DND5E.AbbreviationLbs"}}
    </span>
    {{/if}}
    {{/with}}
  </div>
  {{/unless}}
</aside>

<ol class="inventory-list">
  {{#each sections as |section sid|}}
  <li class="inventory-header flexrow">
    <h3 class="item-name flexrow">{{localize section.label}}</h3>

    {{#if section.columns}}
    {{#each section.columns}}
    <div class="item-detail {{css}}">{{label}}</div>
    {{/each}}
    {{else}}
    {{#if ../isCharacter}}
    <div class="item-detail item-weight">{{localize "DND5E.Weight"}}</div>
    {{/if}}

    <div class="item-detail item-uses">{{localize "DND5E.Charges"}}</div>
    {{/if}}

    {{#if ../owner}}
    <div class="item-controls">
      <a class="item-control item-create" title='{{localize "DND5E.ItemCreate"}}'
        {{#each section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
        <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list">
    {{#each section.items as |item iid|}}
    <li class="item flexrow {{section.css}}"
      data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}">
      <div class="item-name flexrow rollable">
        {{#if section.editableName}}
        <input type="text" value="{{item.name}}">
        {{else}}

        <h4>
          {{item.name~}}
          {{~#if item.isStack}} ({{item.data.quantity}}){{/if}}
          {{~#if item.data.attuned}} <i class="fas fa-sun attuned" title={{localize "DND5E.Attuned"}}></i>{{/if}}
        </h4>
        {{/if}}
      </div>

      {{#if section.columns}}
      {{#each section.columns}}
      <div class="item-detail {{css}}">
        {{#with (getProperty item property)}}
        {{#if ../editable}}
        <input type="text" value="{{this}}" placeholder="&mdash;" data-dtype="{{../editable}}"
          data-property="{{../property}}">
        {{else}}
        {{this}}
        {{/if}}
        {{/with}}
      </div>
      {{/each}}
      {{else}}
      {{#if ../../isCharacter}}
      <div class="item-detail item-weight">
        {{#if item.totalWeight}}
        <div class="item-detail">
          {{ item.totalWeight }} {{localize "DND5E.AbbreviationLbs"}}
        </div>
        {{/if}}
      </div>
      {{/if}}

      <div class="item-detail item-uses">
        {{#if item.hasUses }}
        <input type="text" value="{{item.data.uses.value}}" placeholder="0" />
        / {{item.data.uses.max}}
        {{/if}}
      </div>
      {{/if}}

      {{#if ../../owner}}
      <div class="item-controls">
        {{#unless @root.isVehicle}}
        <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i
            class="fas fa-shield-alt"></i></a>
        {{/unless}}
        {{#unless section.editableName}}
        <a class="item-control item-edit" title='{{localize "DND5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
        {{/unless}}
        <a class="item-control item-delete" title='{{localize "DND5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>