<section class="flexcol health-armor">

  <ul class="ac-initiative-speed flexrow">
    <li class="ac">
      <div class="ac-symbol">
        {{> (ogl5e-sheet-path "assets/armor-class.hbs")}}
      </div>
      <h4>Armor</h4>
      <div class="attribute-value">
        <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}" data-dtype="Number"
          placeholder="10" />
      </div>
      <h4>Class</h4>
    </li>

    <li class="attribute initiative">
      <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "DND5E.Initiative" }}</h4>
      <div class="attribute-value">
        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
      </div>
      <footer class="attribute-footer">
        <span>{{ localize "DND5E.Modifier" }}</span>
        <input name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number"
          value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" />
      </footer>
    </li>

    <li class="attribute movement">
      <h4 class="attribute-name box-title">{{ localize "DND5E.Speed" }} ({{data.attributes.movement.units}})</h4>
      <div class="attribute-value">
        <span class="movement-primary" title="{{movement.primary}}">{{movement.primary}}</span>
      </div>
      <footer class="attribute-footer">
        <span class="movement-special" title="{{movement.special}}">{{movement.special}}</span>
      </footer>
      <a class="config-button configure-movement" data-action="movement" title="{{localize 'DND5E.MovementConfig'}}"><i
          class="fas fa-cog"></i></a>
    </li>
  </ul>


  <div class="attribute health">
    <h4 class="attribute-name box-title">{{ localize "DND5E.HitPoints" }}</h4>
    <div class="attribute-value multiple">
      <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="Number"
        placeholder="10" />
      <span class="sep"> / </span>
      <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" data-dtype="Number"
        placeholder="10" />
    </div>
    <footer class="attribute-footer">
      <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{ localize 'DND5E.Temp' }}"
        value="{{data.attributes.hp.temp}}" data-dtype="{{data.attributes.hp.type}}" />
      <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+{{ localize 'DND5E.Max' }}"
        value="{{data.attributes.hp.tempmax}}" data-dtype="{{data.attributes.hp.type}}" />
    </footer>
  </div>

  <div class="hd-ds flexrow">
    <div class="attribute hd">
      <h4 class="attribute-name box-title">
        <a class="rest short-rest">{{ localize "DND5E.HitDice" }}</a>
      </h4>
      <div class="attribute-value multiple">
        <input name="data.attributes.hd" type="text" value="{{data.attributes.hd}}" data-dtype="Number"
          placeholder="0" />
        <span class="sep"> / </span>
        <span class="non-editable">{{data.details.level}}</span>
      </div>
      <footer class="attribute-footer">
        {{!-- display hit die size? features[class].data.hitdice --}}
      </footer>
    </div>

    <div class="attribute death-save-attribute">
      <h4 class="attribute-name box-title death-save rollable" data-action="rollDeathSave">Death Saves</h4>
      <div class="attribute-value multiple">
        <div>
          <input type="text" name="data.attributes.death.success" data-dtype="Number" placeholder="0"
            value="{{data.attributes.death.success}}" />
        </div>
        <div>
          <input type="text" name="data.attributes.death.failure" data-dtype="Number" placeholder="0"
            value="{{data.attributes.death.failure}}" />
        </div>
      </div>
      <footer class="attribute-footer">
        <i class="fas fa-check"></i>

        <i class="fas fa-times"></i>
      </footer>
    </div>

  </div>


  <div class="form-group {{#unless data.attributes.exhaustion}}inactive{{/unless}}">
    <label>{{localize "DND5E.Exhaustion"}}</label>
    <input type="text" name="data.attributes.exhaustion" data-dtype="Number" placeholder="0"
      value="{{data.attributes.exhaustion}}" />
  </div>

</section>