{{!-- Sheet Header --}}
<header class="sheet-header">
  <h1>
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}" />
  </h1>

  {{!-- Character Summary --}}
  <ul class="header-fields">
    <li class="class">
      <span class="non-editable">{{classLabels}}</span>
      <small>{{ localize "DND5E.ItemTypeClass" }} & {{ localize "DND5E.Level" }}</small>
    </li>
    <li class="background">
      <input type="text" name="data.details.background" value="{{data.details.background}}"
        placeholder="{{ localize 'DND5E.Background' }}" />
      <small><label>{{ localize 'DND5E.Background' }}</label></small>
    </li>
    <li class="race">
      <input type="text" name="data.details.race" value="{{data.details.race}}"
        placeholder="{{ localize 'DND5E.Race' }}" />
      <small><label>{{ localize 'DND5E.Race' }}</label></small>
    </li>
    <li class="alignment">
      <input type="text" name="data.details.alignment" value="{{data.details.alignment}}"
        placeholder="{{ localize 'DND5E.Alignment' }}" />
      <small><label>{{ localize 'DND5E.Alignment' }}</label></small>
    </li>
    {{#unless disableExperience}}
    <li class="experience-input">
      <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" data-dtype="Number"
        placeholder="0" />
      <small><label>{{ localize 'DND5E.Experience' }}</label></small>
    </li>
    {{/unless}}
  </ul>
</header>

<div class="header-actions">
  <div class="rest-buttons">
    <a class="rest short-rest">{{ localize 'DND5E.RestS' }}<i class="fas fa-hourglass-half"></i></a>
    <a class="rest long-rest">{{ localize 'DND5E.RestL' }}<i class="fas fa-hourglass-end"></i></a>
  </div>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="core">{{ localize "Sheet" }}</a>
    <a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
    <a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
    <a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
  </nav>
</div>